<h3>Group</h3>
<br>
<div class='container'>
	<h4>Seleccione la Cantidad de Grupos</h4>
	<input id='quantity_teams' ng-model='quantity_teams' type='number' value='1' />
	<button ng-click="asign()">Asignar</button>
	<br>
	<h4>Ingrese los Ids</h4>
	<div class='row'>
		<div class="col-xs-6">Estocolmo</div>
		<div class="col-xs-6">Londres</div>
	</div>
	<div  class='row'>
		<div class="col-xs-6" data-ng-repeat="input in inputs">
			<div ><input type="text" ng-model="input.id" id="" placeholder="Enter id"></div>
		</div>
	</div>
		{{ result }}
	<div  class='row'>
		<button ng-click="calculate()">Calcular</button>
	</div>
  <br><a href="#/" class="kataFont">Home</a>
</div>
